body{
    margin: 0 auto;
    background-color: #DDDDDD;
}
header{
    padding: 0 100px;
    background-color: white;
    height: 100px;
}
header img{
    height: 80px;
}
nav{
    height: 100px;
    background-color: #29B1DD;
    line-height: 100px;
    color: white;
    font-size: 30px;
}
.card{
    height:150px;
    border: black 3px solid;
    border-radius: 50px 50px;
    line-height: 150px;
    padding: auto auto;
}
.card i{
    font-size: 70px;
    margin-bottom: 10px;
}
.card h3{
    font-size: 25px;
}
.card h3,i{
    vertical-align: middle;
}
.cardname{
    text-transform:uppercase;
}
